.row-margin {
  margin-top: 35px; /* Adjust the margin as needed */
}
.col1 {
  background-color: antiquewhite;
}
.col2 {
  background-color: antiquewhite;
}
.c-img {
  height: 100%;
}
.c-item {
  width: 1920px;
  height: 400px;
}
.img-style {
  width: 280px;

  object-fit: cover;
}
.img-style2 {
  width: 280px;
  height: 280px;
  object-fit: cover;
}
.logo-style {
  color: white;
}
.color-style {
  color: orange;
}
.bth {
  background-color: red;
}
.icon-style {
  color: white;
}
.background-style {
  background-color: #343a40;
}
.white-style {
  color: white;
}
.btn-red {
  background-color: black;
  color: white;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.center-text {
  text-align: center;
}
.btn-orange {
  background-color: orange;
  color: white;
}
.text-style {
  height: 200px;
}

.sale-badge {
  position: absolute;
  background-color: yellow;
  color: white;
  padding: 5px;
  font-size: 13px;
  width: 75px;
  text-align: center;
  color: black;
  font-weight: 1000;
}

.menu-btn {
  background-color: #353a40 !important;
  color: white !important;
}
.form-container {
  margin: 60px 0 30px 0 !important;
}
