.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-item {
    padding: 14px 20px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    display: block;
  }
  
  .nav-item.active {
    background-color: #4CAF50;
  }
  
  .nav-item:not(.active):hover {
    background-color: #555;
  }
  