.header {
  background: orange;
  padding: 10px 0;
  text-align: center;
}

/* Other styles for the header */

.navigation {
  background: black;
  color: white;
  text-align: center;
  padding: 5px 0;
}

.navigation a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
